@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1E293B;
  font-family: var(--font-opensans);
  overflow-x: hidden;
}

html,

.ant-table-body {
  scrollbar-width: thin !important;
}

.ant-picker-outlined {
  border-radius: unset !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.ant-table-cell::before {
  background-color: #000000 !important;
  opacity: 10%;
}

.ant-switch-checked {
  background-color: #36A492 !important;
}

.ant-input-affix-wrapper {
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important
}

@media only screen and (max-width: 1560px) {
  .input_search {
    width: 50% !important;
  }
}

@media only screen and (min-width: 1560px) {
  .input_search {
    width: 100% !important;
  }
}

.ant-empty-description,
.ant-select-item-empty {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #e5e7eb !important;
}

.ant-table-wrapper .ant-table {
  scrollbar-color: unset !important;
  ;
}

.ant-table-wrapper .ant-table:hover {
  cursor: pointer !important;
  ;
}

.ant-input-outlined:focus,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #2B303810 !important;
  box-shadow: 0 0 0 1px rgba(43, 48, 56, 0.2) !important;
  outline: 0 !important;
}

.ant-input-affix-wrapper, .ant-select-selector, .ant-input,
.ant-input-outlined, .ant-modal-content {
  border-radius: 4px !important;
}

.login-form-button {
  background: linear-gradient(#f6dd9e, #f0c24d) !important;
  border: 0.075em solid #878787 !important;
  border-radius: 0.1em !important;
  color: #1E293B !important;
}

.ant-menu-item-selected {
  background-color: #353542 !important;
  border-radius: 6px !important;
}

ul.ant-menu.ant-menu-sub.ant-menu-inline {
  list-style: disc !important;
}

/* Ant Design Pagination Custom Styles */
.ant-pagination-item {
  /* Base styles for all pagination items */
  border-radius: 4px !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
}

.ant-pagination-item:hover {
  border-color: #44D7B6 !important;
  color: #ffffff !important;
}

.ant-pagination-item-active {
  background-color: #44D7B6 !important;
  border-color: #44D7B6 !important;
}
.ant-pagination-item-active:hover {
  background-color: #44D7B6 !important;
  border-color: #44D7B6 !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-item-active:hover a {
  color: white !important;
}

.ant-menu-root {
  background-color: #131921 !important;
}

.ant-menu-item-selected {
  background-color: #131921 !important;
}

.ant-menu-root {
  background-color: #131921 !important;
}

.ant-menu-item-selected {
  background-color: #131921 !important;
}

.ant-typography, 
.ant-table-column-title,
.ant-table-cell,
.ant-badge-status-text {
  color: #1E293B !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 24% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 24% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 24% 16%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 210 24% 16%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 210 24% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 210 24% 16%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 210 24% 16%;
    --sidebar-primary: 210 24% 16%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 210 24% 16%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    
  }

  .text-outline-green {
    -webkit-text-stroke: 1px #2C8B3D; 
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #2C8B3D;
    text-fill-color: transparent;
    color: transparent;
  }
  .text-outline-white {
    -webkit-text-stroke: 1px #ffffff; 
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #ffffff;
    text-fill-color: transparent;
    color: transparent;
  }
}

.nextjs-toploader-spinner {
  display: none !important;
}

.ant-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button[type="button"].absolute:focus {
  box-shadow: none !important;
  outline: none !important;
}

:global(.ant-pagination-options .ant-select-selector) {
  display: none !important;
}

.paginationContainer :global(.ant-select-selector) {
  display: none !important;
}
.ant-pagination-options {
  display: none !important;
}

/* Custom styles for pagination buttons */
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: var(--mainCardV1) !important;
  height: 28px !important;
  width: 28px !important;
}

.ant-pagination-prev .anticon,
.ant-pagination-next .anticon {
  color: #44D7B6 !important;
  height: 20px !important;
  width: 20px !important;
}

.ant-pagination-item {
  background-color:  #F4F5F7 !important;
  height: 28px !important;
  width: 28px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ant-pagination-item:hover {
  background-color: #44D7B6 !important;
  color: #ffffff !important;
}

.ant-pagination-item-active {
  color: #ffffff !important;
  background-color: #44D7B6 !important;
}

/* Ripple Effect Animation */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 600ms ease-out;
}

/* Other styles */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


